# Ignore gallery as these are built by running buildimages.cmd
gallery/C/*
gallery/L/*
gallery/X/*
gallery/M/*
gallery/S/*

# Ignore bower components as these are fetched by running bower install
bower_components/*

# Ignore build directory as this is recreated by running polymer build
build/*
functions/node_modules/*
functions/lib/*
functions/etc/*
