service firebase.storage {
	function isAdmin() {
  	return request.auth.token.admin == true;
  }
  
	function isReader() {
  	return request.auth.token.reader == true;
  }

  function isSizeN(n) {
      return request.resource.size < n * 1024 * 1024;
  }
  
  function isImage() {
      return request.resource.contentType.matches("image/.*");
  }
    match /b/{bucket}/o {
        match /{allImages=**} {
            allow read: if isReader();
            allow write: if isAdmin() && isSizeN(5) && isImage();
        }
    }
}